/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
 */

div.modal {
    display:none;
}

div.wb_modal_title {
    background-color: #8158A5;
    color: #FFF;
    font-family: Times;
    font-size: 18px;
    padding: 8px;
    font-style: italic;
    border: 1px solid #808080;
}

div.modal div.wb_modal_content, div.modal form {
    padding: 8px; 
    border: 1px solid #808080;
    margin-bottom: 10px;
    margin-top: 8px;
    color: #5A5A5A;
    line-height: 14px;
    font-size: 12px;
}

div.modal form input {
    margin-left: 8px;
    line-height: 14px;
    font-size: 12px;
    width: 400px;
} 

div.modal form textarea {
    width: 400px;
    height: 100px;
}

div.modal form button {
    /* float: left; */
    
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 4px !important;
    
}

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {
    /* height:360px; */
    
    width:655px; color:#bbb; background-color:#FFF; border:4px solid #444; padding:12px;
}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {
    background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;
}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {
background:url(/images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;
}
#simplemodal-container h3 {color:#84b8d9;}
